@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #d3d3d3;
  --foreground: #2b2b2b;
  --main: #493F0B;
}


body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.manifesto {
    position: relative;
  }
  
  .manifesto-title h1 {
    font-size: 5rem;
    line-height: 1.125;
    
  }
  
  .manifesto-symbol {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
  }
  
  .manifesto .container {
    padding: 20px;
  }

  @media (max-width: 1200px) {
    .manifesto-title h1 {
        font-size: 4rem;

    }
}

@media (max-width: 992px) {
    .manifesto-title h1 {
        font-size: 2.3rem !important;

    }
}

@media (max-width: 768px) {
  .manifesto-title h1 {
      font-size: 3rem;

  }
}

@media (max-width: 480px) {
  .manifesto-title h1 {
      font-size: 3rem;

  }
}